<html lang="en">
  <%= render_partial 'head' %>
  <body>
    <h1><%= @title %></h1>
    <form action="/dogs" method="POST">
      <div>
        <label for="dog_name">The dog's name</label>
        <input type="text" name="dog[name]" id="dog_name">
      </div>
      <button type="submit" name="commit">Save</button>
    </form>
  </body>
</html>