<html lang="en">
  <%= render_partial 'head' %>
  <body>
    <h1><%= @title %></h1>
    <p><a href="/dogs">Back to dog list</a></p>
    <p>
      Dog #<%= @dog.id %>, name: <strong><%= @dog.name %></strong>
    </p>
  </body>
</html>